<div class="" style="background-color: #FFFFFF; width: 250px; border: 1px solid white">
	<input type="text" placeholder="username" style="color: #CECECE; width: 230px; border: 1px solid black; padding: 10px; margin: 10px; background-color: white;"></input><br>
   	<input type="text" placeholder="password" style="color: #CECECE; border: 1px solid black; width: 230px; padding: 10px; margin: 10px; background-color: white;"></input><br>
   	<input type="checkbox" checked="checked" style="display: inline-block; color: white; float: left; margin-left: 10px">
	<label style="color: #CECECE;display: inline-block; font-weight: 100; float: left">Keep Me Logged In</label>
	<button class="btn" style="margin: 10px; padding: 10px; display: inline-block; color: white; float: right; font-family: sans-serif; background-color: #72C05B">Log In</button>
 	<a style="float: right; color: white; margin: 10px; line-height: 10px; padding: 10px">Recover Password</a>
   	    <li role="separator" class="divider"></li>
        <li>Don't Have an Account?<a ng-click="activateSignup()" style="color: white; text-indent: center" >Sign Up</a></li>
</div>