
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/userHome.css">
</head>
<body style="width: 100%">


<!-- navigation bar -->

<nav class="navbar navbar-default navigation">
	<div class="container-fluid">
    	<!-- Brand -->
    	<div class="navbar-header">
      		<a class="navbar-brand" href="#"><img src="/images/logo.png" style="width: 300px; height: 60px"></img></a>
    	</div>

    	<!-- Collect the nav links, forms, and other content for toggling -->
      	<ul class="nav navbar-nav navbar-right" style="float: right; display: inline-block; position: fixed; top: -30px; right: 10px">
          	<img class="img-reponsive img-thumbnail" src="/images/feeder1.jpg" style="width: 30px; height: 30px">
          	<span>{{}}</span>
          	<li style="display: inline-block; color: white; margin: 10px; line-height: 50px; padding: 10px; font-family: sans-serif"><b>Home</b></li>
          	<li style="display: inline-block; color: white; margin: 10px; line-height: 50px; padding: 10px"><b>Logout</b></li>
        </ul>
  	</div><!-- /.container-fluid -->
</nav>

</body>
</html>