<!-- navigation bar -->
<div class="navbar navigation">
		<div class="container-fluid">
				<!-- logo -->
				<div class="navbar-header logo">
                		<a class="navbar-brand" href="#">
        	      				<img alt="Brand" src="">
      		      		</a>
          		</div>


          		<div style="float: right; display: inline-block;">
          				<!-- identity div -->
          				<div style="display: inline-block;"> 
          					<img class="img-thumbnail img-responsive">
          						
          					</img>
          					<span>
          						{{}}
          					</span>
          				</div>
          				<div>
          					Home
          				</div>
          				<div>
          					Logout
          				</div>
          		</div>
		</div>
</div>