	<div class="modal-dialog">
	<div class="modal-content" style="border: 3px solid #CECECE;border-radius: 10px; background-color: white; text-align: center; width: 50%; position: fixed; left: 350px; top : 15px; margin-top: 100px; overflow: visible; height: 70%">
	<div class="modal-body">
		<!-- cross button-->
		<a class="fa fa-times fa-2x" aria-hidden="true" data-dismiss="modal" style="z-index: 50; position: absolute; top: 2px; right: 2px"></a>

		<h1>Create your chat account!</h1>

		<!-- horizontal line -->		
		<hr style="color: #CECECE; size : 3px; width: 80% "> 

		<h3 style="line-height:15px;font-size:15px">Come join the chat community! Let's create your account. Already have one?
			<a href="" style="color: #A1D2F6">Log in</a>
		</h3>


		<div style="" class="row" style="margin: 50px">
			<!-- signup div-->
			<div style="display: inline-block; width: 50%; border-right: 1px solid #CECECE; padding-left: 20px; padding-right: 20px" class="col-md-4">
				<input style="padding: 20px;height : 30px; width: 80%;margin: 3px; line-height: 10px; border: 2px solid #CECECE; border-radius: 3px" type="text" placeholder="Name"></input><br>
				<input style="padding: 20px;height : 30px; width: 80%;margin: 3px; line-height: 10px; border: 2px solid #CECECE; border-radius: 3px" type="text" placeholder="Username"></input><br>
				<input style="padding: 20px; height : 30px; width: 80%;margin: 3px; line-height: 10px; border: 2px solid #CECECE; border-radius: 3px" type="text" placeholder="Password"></input><br>
				<button class="btn btn-block" style="background-color: #7AB42C; z-index: 100; line-height: 10px; padding-top: 20px; padding-bottom: 20px; height : 50px; width: 80%; font : sans-serif; margin: 3px; border: 2px solid white;text-align: center; border-radius: 10px;font-weight: 800; color: white; margin-left: 30px" ng-click="">Sign Up!</button>
				<div style="position: absolute; width: 80%">
					<span style="position: absolute; left: 30px; top: 0px">
						<input type="checkbox" style="font-size: 0.8em; margin-left: 0px" checked="checked"></input>
						<label style=" padding-left: 0px">Keep Me Logged In</label>
					</span>
				</div>
			</div>

			<!-- social signup div-->
			<div style="display: inline-block; width: 50%; border-left: 1px solid #CECECE;align-content: center; padding-left: 20px; padding-right: 20px" class="col-md-8">
				<div style="margin: 10px; margin-left: 40px; width: 65%">Or signup with your social account</div>	
				<a class="btn btn-block btn-social btn-google" style="width: 65%; margin: 10px; margin-left: 40px">
    					<span class="fa fa-google"></span> Sign in with Google
  				</a>
  				<a class="btn btn-block btn-social btn-facebook" style="width: 65%; margin: 10px; margin-left: 40px">
    					<span class="fa fa-facebook"></span> Sign in with Facebook
  				</a>
  				<a class="btn btn-block btn-social btn-twitter" style="width: 65%; margin: 10px; margin-left: 40px">
    					<span class="fa fa-twitter"></span> Sign in with Twitter
  				</a>
			</div>

		</div>
		<br><br>
	</div>
	</div>
	</div>  